*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slateblue;
    font-family: Poppins;
}
.logo{
    width: 100px;
    /* border: 2px solid black; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: slateblue;
    line-height: 20px;
}

.main{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.chat-container, .chat-container2{
    width: 350px;
    height: 580px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 30px;
    padding: 10px 10px
}
.sub-main{
    /* border: 2px solid green; */
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.sub-main p{
    font-size: 18px;
}
.main-user{
    width: 60px;
    height: 60px;
    /* border: 2px solid black; */
    float: right;
    border-radius: 50%;
}

.header{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.friends-container{
    width: 100%;
    height: 380px;
    /* border: 2px solid black; */
    overflow: auto;
}

.friends{
    width: 100%;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 10px;
    
}

.pic, .pro-pic{
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 50%;
}
.name{
    flex-grow: 2;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name p{
    font-size: 14px;
}

.time_new_msg{
    width: auto;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time_new_msg p{
    font-size: 14px;
}

.msg{
    width: 40px;
    height: 40px;
    background-color: slateblue;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
}

.footer{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

svg{
    cursor: pointer;
}


.identity{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */

}


.sub-container{

    height: 100%;
    width: 100%;
    /* border: 2px solid blue; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}


.chat-body{
    width: 100%;
    height: 280px;
    /* border: 2px solid slateblue; */
    overflow: auto;
    /* display: flex;
    align-items: flex-start;
    justify-content: center; */
}

#myform{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    flex-grow: 2;
    
}

#input{
    flex-grow: 2;
    height: 30px;
    /* border: 2px solid slateblue; */
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: sans-serif !important;
}

.chat-container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
button{
    background: slateblue;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 10px;
    
}

.chat-box-received, .chat-box-sent{
    width: 200px;
    height: auto;
    font-size: 14px;
    background-color: slateblue;
    color: white;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding:10px 10px;
    border-radius: 10px;
}

.chat-box-sent{
    background-color: rebeccapurple;
    color: white;
    float: left;
   
}